<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angularML</h3>
</div>

<div ng-init="renderChart()">
	<p>DB: {{db}}</p>
	<p>Forests:{{masterForests}}</p>
	<p>AppServer: {{appservers}}</p>
	<p>Forests on each Host: {{forestsOnHosts}}</p>
	<p>Replica Clusters: {{replicaClusters}}</p>
	<p>Replica DBs: {{replicaDBs}}</p>
	<hr>
	
</div>
<div id="test">
			<div class="container">
			<div ng-chart="" ng-model='options' style="width: 1200px; height: 480px; border-style: dotted; border-width: 1px;"></div>  
			</div>
			
			
			
</div>
