<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">angularML</h3>
</div>



<div class="row" ng-init="renderChart()">
  <div class="col-xs-6 col-md-4">
	<p><b>MasterDB:</b> {{db}}</p>
	<b>MasterForests:</b><ul ng-repeat="forest in masterForests"><li>{{forest}}</li></ul>
	<b>AppServer:</b> <ul ng-repeat="appserver in appservers"><li>{{appserver}}</li></ul>
	<b>Forests on each Host:</b> <ul ng-repeat="(host, forests) in forestsOnHosts">{{host}}<li>{{forests}}</li></ul>
	<b>Replica Clusters:</b> <ul ng-repeat="cluster in replicaClusters"><li>{{cluster}}</li></ul>
	<b>Replica DBs:</b> <ul ng-repeat="(cluster, db) in replicaDBs">{{cluster}}<li>{{db}}</li></ul>
	<hr>	
  </div>
  <div class="col-xs-12 col-md-8">
  		<div class="container">
			<div id="body"></div>
		</div>
  </div>
</div>

			
			
		
